<div class="jumbo">
	<div class="right tomster">
		<h2>About Super Rentals</h2>
		<p>
			The Super Rentals website is a delightful project created to explored Ember. By building a property rental site, we can simultaneously imagine traveling and building Ember applications.
		</p>
	</div>
</div>